:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #fbbf24;
  --color-accent: #fb923c;
  --color-bg: #ffff;
  --color-subBg: #fffdeb;
  --color-foreground: #3f3f46;
  --color-muted: #fef3c7;
  --color-black: #1d1d1d;
  --color-gray: #dedede;
  --color-green: #62b759;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  /* background-color: red; */
  padding: 0 1rem;
}
.container.gray {
  background-color: #fffdeb;
}
.bg-gradient {
  background: linear-gradient(to bottom right, #fbbf24, #fb923c);
}
.bg-bulr {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
}
span.theme-text {
  background: linear-gradient(to bottom right, #fbbf24, #fb923c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme-border {
  border-radius: 50%;
  border: 4px solid transparent;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to bottom right, #ffd877, #f17917);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.custom-Card {
  transition: all 0.2s ease;
}
.custom-Card:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 12px #ffe5d8;
}

/* 커서 깜빡임 애니메이션 */
@keyframes blink {
  0%,
  100% {
    border-color: black;
  }
  50% {
    border-color: transparent;
  }
}

.corsur-ani {
  white-space: nowrap;
  border-right: 2px solid black;
  animation: blink 0.7s step-end infinite;
}
